Sphinx==5.1.1
sphinx_rtd_theme==2.1.0rc1
sphinx-copybutton==0.3.1
docutils==0.18.1
sphinx-tabs==3.4.1
sphinx-toolbox==3.6.0
setuptools==78.1.1
sphinxext-remoteliteralinclude==0.6.0
breathe==4.35.0
sphinx-design==0.5.0