@import url('./theme.css');

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-BlackItalic.eot');
  src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackItalic'),
      url('../fonts/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-BlackItalic.woff2') format('woff2'),
      url('../fonts/SourceSansPro-BlackItalic.woff') format('woff'),
      url('../fonts/SourceSansPro-BlackItalic.ttf') format('truetype'),
      url('../fonts/SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-BoldItalic.eot');
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'),
      url('../fonts/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-BoldItalic.woff2') format('woff2'),
      url('../fonts/SourceSansPro-BoldItalic.woff') format('woff'),
      url('../fonts/SourceSansPro-BoldItalic.ttf') format('truetype'),
      url('../fonts/SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Light.eot');
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
      url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
      url('../fonts/SourceSansPro-Light.woff') format('woff'),
      url('../fonts/SourceSansPro-Light.ttf') format('truetype'),
      url('../fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-ExtraLightItalic.eot');
  src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightItalic'),
      url('../fonts/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/SourceSansPro-ExtraLightItalic.woff') format('woff'),
      url('../fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
      url('../fonts/SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Bold.eot');
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
      url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
      url('../fonts/SourceSansPro-Bold.woff') format('woff'),
      url('../fonts/SourceSansPro-Bold.ttf') format('truetype'),
      url('../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Black.eot');
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
      url('../fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-Black.woff2') format('woff2'),
      url('../fonts/SourceSansPro-Black.woff') format('woff'),
      url('../fonts/SourceSansPro-Black.ttf') format('truetype'),
      url('../fonts/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-SemiBold.eot');
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
      url('../fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
      url('../fonts/SourceSansPro-SemiBold.woff') format('woff'),
      url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype'),
      url('../fonts/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-SemiBoldItalic.eot');
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'),
      url('../fonts/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/SourceSansPro-SemiBoldItalic.woff') format('woff'),
      url('../fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
      url('../fonts/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-LightItalic.eot');
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'),
      url('../fonts/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-LightItalic.woff2') format('woff2'),
      url('../fonts/SourceSansPro-LightItalic.woff') format('woff'),
      url('../fonts/SourceSansPro-LightItalic.ttf') format('truetype'),
      url('../fonts/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Italic.eot');
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
      url('../fonts/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-Italic.woff2') format('woff2'),
      url('../fonts/SourceSansPro-Italic.woff') format('woff'),
      url('../fonts/SourceSansPro-Italic.ttf') format('truetype'),
      url('../fonts/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
      url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
      url('../fonts/SourceSansPro-Regular.woff') format('woff'),
      url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
      url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-ExtraLight.eot');
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
      url('../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
      url('../fonts/SourceSansPro-ExtraLight.woff') format('woff'),
      url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
      url('../fonts/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

.wy-alert,
.rst-content .note,
.rst-content .attention,
.rst-content .caution,
.rst-content .danger,
.rst-content .error,
.rst-content .hint,
.rst-content .important,
.rst-content .tip,
.rst-content .warning,
.rst-content .seealso,
.rst-content .admonition-todo,
.rst-content .admonition {
  background: #a4eaf55e;
}

.wy-alert-title,
.rst-content .admonition-title {
  background: #008eaa;
}

.wy-alert.wy-alert-danger,
.rst-content .wy-alert-danger.note,
.rst-content .wy-alert-danger.attention,
.rst-content .wy-alert-danger.caution,
.rst-content .danger,
.rst-content .error,
.rst-content .wy-alert-danger.hint,
.rst-content .wy-alert-danger.important,
.rst-content .wy-alert-danger.tip,
.rst-content .wy-alert-danger.warning,
.rst-content .wy-alert-danger.seealso,
.rst-content .wy-alert-danger.admonition-todo,
.rst-content .wy-alert-danger.admonition {
  background: #ffd1c5;
}

.wy-alert.wy-alert-danger .wy-alert-title,
.rst-content .wy-alert-danger.note .wy-alert-title,
.rst-content .wy-alert-danger.attention .wy-alert-title,
.rst-content .wy-alert-danger.caution .wy-alert-title,
.rst-content .danger .wy-alert-title,
.rst-content .error .wy-alert-title,
.rst-content .wy-alert-danger.hint .wy-alert-title,
.rst-content .wy-alert-danger.important .wy-alert-title,
.rst-content .wy-alert-danger.tip .wy-alert-title,
.rst-content .wy-alert-danger.warning .wy-alert-title,
.rst-content .wy-alert-danger.seealso .wy-alert-title,
.rst-content .wy-alert-danger.admonition-todo .wy-alert-title,
.rst-content .wy-alert-danger.admonition .wy-alert-title,
.wy-alert.wy-alert-danger .rst-content .admonition-title,
.rst-content .wy-alert.wy-alert-danger .admonition-title,
.rst-content .wy-alert-danger.note .admonition-title,
.rst-content .wy-alert-danger.attention .admonition-title,
.rst-content .wy-alert-danger.caution .admonition-title,
.rst-content .danger .admonition-title,
.rst-content .error .admonition-title,
.rst-content .wy-alert-danger.hint .admonition-title,
.rst-content .wy-alert-danger.important .admonition-title,
.rst-content .wy-alert-danger.tip .admonition-title,
.rst-content .wy-alert-danger.warning .admonition-title,
.rst-content .wy-alert-danger.seealso .admonition-title,
.rst-content .wy-alert-danger.admonition-todo .admonition-title,
.rst-content .wy-alert-danger.admonition .admonition-title {
  background: #cf4520;
}

.wy-alert.wy-alert-warning .wy-alert-title,
.rst-content .wy-alert-warning.note .wy-alert-title,
.rst-content .attention .wy-alert-title,
.rst-content .caution .wy-alert-title,
.rst-content .wy-alert-warning.danger .wy-alert-title,
.rst-content .wy-alert-warning.error .wy-alert-title,
.rst-content .wy-alert-warning.hint .wy-alert-title,
.rst-content .wy-alert-warning.important .wy-alert-title,
.rst-content .wy-alert-warning.tip .wy-alert-title,
.rst-content .warning .wy-alert-title,
.rst-content .wy-alert-warning.seealso .wy-alert-title,
.rst-content .admonition-todo .wy-alert-title,
.rst-content .wy-alert-warning.admonition .wy-alert-title,
.wy-alert.wy-alert-warning .rst-content .admonition-title,
.rst-content .wy-alert.wy-alert-warning .admonition-title,
.rst-content .wy-alert-warning.note .admonition-title,
.rst-content .attention .admonition-title,
.rst-content .caution .admonition-title,
.rst-content .wy-alert-warning.danger .admonition-title,
.rst-content .wy-alert-warning.error .admonition-title,
.rst-content .wy-alert-warning.hint .admonition-title,
.rst-content .wy-alert-warning.important .admonition-title,
.rst-content .wy-alert-warning.tip .admonition-title,
.rst-content .warning .admonition-title,
.rst-content .wy-alert-warning.seealso .admonition-title,
.rst-content .admonition-todo .admonition-title,
.rst-content .wy-alert-warning.admonition .admonition-title {
  background: #f8a331;
}

.wy-alert.wy-alert-info,
.rst-content .note,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.rst-content .seealso,
.rst-content .wy-alert-info.admonition-todo,
.rst-content .wy-alert-info.admonition {
  background: #a4eaf55e;
}

.wy-alert.wy-alert-info .wy-alert-title,
.rst-content .note .wy-alert-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .seealso .wy-alert-title,
.rst-content .wy-alert-info.admonition-todo .wy-alert-title,
.rst-content .wy-alert-info.admonition .wy-alert-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.rst-content .note .admonition-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .seealso .admonition-title,
.rst-content .wy-alert-info.admonition-todo .admonition-title,
.rst-content .wy-alert-info.admonition .admonition-title {
  background: #00aec7;
}

.wy-alert.wy-alert-success .wy-alert-title,
.rst-content .wy-alert-success.note .wy-alert-title,
.rst-content .wy-alert-success.attention .wy-alert-title,
.rst-content .wy-alert-success.caution .wy-alert-title,
.rst-content .wy-alert-success.danger .wy-alert-title,
.rst-content .wy-alert-success.error .wy-alert-title,
.rst-content .hint .wy-alert-title,
.rst-content .important .wy-alert-title,
.rst-content .tip .wy-alert-title,
.rst-content .wy-alert-success.warning .wy-alert-title,
.rst-content .wy-alert-success.seealso .wy-alert-title,
.rst-content .wy-alert-success.admonition-todo .wy-alert-title,
.rst-content .wy-alert-success.admonition .wy-alert-title,
.wy-alert.wy-alert-success .rst-content .admonition-title,
.rst-content .wy-alert.wy-alert-success .admonition-title,
.rst-content .wy-alert-success.note .admonition-title,
.rst-content .wy-alert-success.attention .admonition-title,
.rst-content .wy-alert-success.caution .admonition-title,
.rst-content .wy-alert-success.danger .admonition-title,
.rst-content .wy-alert-success.error .admonition-title,
.rst-content .hint .admonition-title,
.rst-content .important .admonition-title,
.rst-content .tip .admonition-title,
.rst-content .wy-alert-success.warning .admonition-title,
.rst-content .wy-alert-success.seealso .admonition-title,
.rst-content .wy-alert-success.admonition-todo .admonition-title,
.rst-content .wy-alert-success.admonition .admonition-title {
  background: #48a23f;
}

.wy-alert.wy-alert-neutral a,
.rst-content .wy-alert-neutral.note a,
.rst-content .wy-alert-neutral.attention a,
.rst-content .wy-alert-neutral.caution a,
.rst-content .wy-alert-neutral.danger a,
.rst-content .wy-alert-neutral.error a,
.rst-content .wy-alert-neutral.hint a,
.rst-content .wy-alert-neutral.important a,
.rst-content .wy-alert-neutral.tip a,
.rst-content .wy-alert-neutral.warning a,
.rst-content .wy-alert-neutral.seealso a,
.rst-content .wy-alert-neutral.admonition-todo a,
.rst-content .wy-alert-neutral.admonition a {
  color: #ee502e;
}

.wy-tray-container li.wy-tray-item-info {
  background: #ffffff;
}


.btn {
  font-family: "Source Sans Pro", "proxima-nova", "Helvetica Neue", Arial,
    sans-serif;
}

.btn-hover {
  background: #f8a331;
}

.btn-info {
  background-color: #ffffff !important;
}

.btn-info:hover {
  background-color: #f8a331 !important;
}

.btn-link {
  color: #ffffff;
}

.btn-link:hover {
  color: #f8a331 !important;
}

.btn-link:active {
  color: #f8a331 !important;
}

.btn-link:visited {
  color: #cf4520;
}

.wy-dropdown-menu > dd > a:hover {
  background: #ffffff;
}

.wy-dropdown-menu > dd.call-to-action {
  background: #ffffff;
}

.wy-dropdown-menu > dd.call-to-action:hover {
  background: #ffffff;
}

.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover {
  background: #ffffff;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: "Source Sans Pro", sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-family: "Source Sans Pro", sans-serif;
}

textarea {
  font-family: "Source Sans Pro", "proxima-nova", "Helvetica Neue", Arial,
    sans-serif;
}

.wy-inline-validate.wy-inline-validate-info .wy-input-context {
  color: #ffffff;
}

a {
  color: #ee502e;
}

a:hover {
  color: #f8a331;
}

a:visited {
  color: #cf4520;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.wy-text-info {
  color: #ee502e !important;
}

a.wy-text-info:hover {
  color: #f8a331 !important;
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend {
  font-family: "Source Sans Pro", sans-serif;
}

h1{
  font-weight: lighter;
  font-size: 50px;
  color: #4b5357;
}

h2{
  font-weight: bold;
  font-size: 30px;
  color: #4b5357;
}

li{
  padding-bottom: 5px;
}

p{
  font-size: 18px;
  color: #4b5357;
  line-height: 26px;
}

code,
.rst-content tt,
.rst-content code {
  font-family: Consolas, monospace;
}

.wy-body-for-nav {
  background-color: #f8f9fa;
}

.wy-menu-vertical {
  width: 325px;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: #262a2c;
  font-size: 120%;
}

.wy-menu-vertical li.current {
  background-color: #f8f9fa;
}

.wy-menu-vertical li.current a {
  background-color: #f8f9fa;
  border-right: solid 0px #c9c9c9;
}

.wy-menu-vertical li.toctree-l1.current > a {
  background-color: #f8f9fa;
  border-bottom: solid 0px #c9c9c9;
  border-top: solid 0px #c9c9c9;
}

.wy-menu-vertical li.toctree-l1.current > a:hover {
  background-color: #f8f9fa;
}

.wy-menu-vertical li.toctree-l2.current > a {
  background-color: #f8f9fa;
}

.wy-menu-vertical li.toctree-l2.current > a:hover {
  background-color: #d6d6d6;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {  
  background-color: #f8f9fa;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
  background-color: #d6d6d6;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a.current {  
  color: #ee502e;
}

.wy-menu-vertical li ul li a {
  color: #717d83;
}

.wy-menu-vertical a {
  color: #717d83;
}

.wy-menu-vertical a:hover {
  font-weight: bold;
  color: #4b5357;
  background-color: #d6d6d6;
}

.wy-menu-vertical a:hover span.toctree-expand {
  color: #717d83;
}

.wy-menu-vertical a:active {
  background-color: #ffffff;
}

.wy-side-nav-search {
  background-color: #ffffff;
  margin-top: 35px;
}

.wy-side-nav-search input[type="text"] {
  background-color: #f8f9fa;
  color: #4b5357;
  border-color: #cbd3d7;
  border-width: 2px;
  height: 48px;
}

.wy-side-nav-search img {
  background-color: #ffffff;
}

.wy-side-nav-search > div.version {
  color: rgba(38, 42, 44);
}

.wy-nav .wy-menu-vertical header {
  color: #ee502e;
}

.wy-nav .wy-menu-vertical a:hover {
  background-color: #ffffff;
}

.wy-nav-side {
  background: #ffffff;
  width: 325px;
  top: 70px;
}

.wy-side-scroll {
  width: 345px;
}

@media screen and (max-width: 768px) {
    .wy-nav-side {
        left: -325px;
    }

  #headermicroej_DIV_1 {
    display: none;
  }

  #toolxboxmicroejUL_1{
    display: none;
  }
}

.wy-nav-top {
  background: #ffffff;
}

.wy-nav-top img {
  background-color: #ffffff;
}

.wy-nav-top .fa {
  color: rgb(64, 64, 64);
}

footer span.commit code,
footer span.commit .rst-content tt,
.rst-content footer span.commit tt {
  font-family: Consolas, monospace;
}

.rst-versions {
  font-family: "Source Sans Pro", sans-serif;
}

.rst-versions a {
  color: #ee502e;
}

.rst-versions .rst-current-version {
  color: #48a23f;
}

.rst-content.style-external-links a.reference.external:after {
  //font-family: Source Sans Pro;
}

.rst-content pre.literal-block {
  font-family: Consolas, monospace;
}

.rst-content .linenodiv pre {
  font-family: Consolas, monospace;
}

.rst-content pre.literal-block,
.rst-content div[class^="highlight"] pre,
.rst-content .linenodiv pre {
  font-family: Consolas, monospace;
}

.rst-content pre.literal-block,
.rst-content div[class^="highlight"] pre,
.rst-content .linenodiv pre,
.rst-content code.literal {
  font-size: 14px;
}

.rst-content h1 .headerlink:after,
.rst-content h2 .headerlink:after,
.rst-content .toctree-wrapper p.caption .headerlink:after,
.rst-content h3 .headerlink:after,
.rst-content h4 .headerlink:after,
.rst-content h5 .headerlink:after,
.rst-content h6 .headerlink:after,
.rst-content dl dt .headerlink:after,
.rst-content p.caption .headerlink:after,
.rst-content table > caption .headerlink:after,
.rst-content .code-block-caption .headerlink:after {
  //font-family: Source Sans Pro;
}

.rst-content .sidebar .sidebar-title {
  font-family: "Source Sans Pro", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

.rst-content tt,
.rst-content tt,
.rst-content code {
  font-family: Consolas, monospace;
}

.rst-content pre,
.rst-content kbd,
.rst-content samp {
  font-family: Consolas, monospace;
}

.rst-content a tt,
.rst-content a tt,
.rst-content a code {
  color: #ee502e;
}

.rst-content dl:not(.docutils) dt {
  background: #a4eaf55e;
  color: #ee502e;
  border-top: solid 3px #00aec7;
}

.rst-content dl:not(.docutils) dt:before {
  color: #008eaa;
}

.rst-content .guilabel {
  background: #cbd3d7;
  border: 1px solid #cbd3d7;
}

@media screen and (min-width: 767px) {
  .wy-nav-content-wrap {
    background: none;
    margin-left: 325px;
  }
}

body > .rst-versions {
  width: 325px;
}

.wy-nav-content {
  max-width: 1300px;
  margin-top: 100px;
  background-color: #f8f9fa;
}

/* Fixes for flyout menu */
body > .rst-versions > .rst-current-version {
  background-color: #efefef;
  color: #4b5357;
}

.rst-versions .rst-current-version .fa-book {
  font-size: 0rem;
  color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*.rst-versions .rst-current-version .fa-book::before,
.rst-versions .rst-current-version .fa-book::after {*/
.rst-versions .rst-current-version .fa::before,
.rst-versions .rst-current-version .fa::after {
  font-size: 1rem;
  color: #4b5357;
}

/* Replace text on menu */
/*
.rst-versions .rst-current-version .fa-book::after {
  content: "MicroEJ";
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  padding-left: .5rem;
}
*/

div.rst-versions div.rst-other-versions {
  background: #efefef;
  color: #4b5357;
}

div.rst-versions div.rst-other-versions a {
  color: #ee502e;
}

div.rst-other-versions > div.injected > dl:nth-child(3),
div.rst-other-versions > div.injected > dl:nth-child(4) {
  display: none;
}

div.rst-other-versions > div.injected {
  visibility: hidden;
}

div.rst-other-versions > div.injected > hr {
  display: none;
}

div.rst-other-versions > div.injected > dl {
  visibility: visible;
}

#headermicroej_DIV_1 {
  bottom: 232px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  height: 72px;
  left: 0px;
  min-height: 50px;
  position: fixed;
  right: 0px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  top: 0px;
  width: 100%;
  z-index: 99999999;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 951.5px 36px;
  transform-origin: 951.5px 36px;
  caret-color: rgb(74, 75, 79);
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  margin: 0px 0px 20px;
  outline: rgb(74, 75, 79) none 0px;
  transition: all 0.2s ease 0s;
}/*#headermicroej_DIV_1*/

#headermicroej_DIV_2 {
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  float: left;
  height: 0px;
  max-width: 300px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  width: 0px;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  outline: rgb(74, 75, 79) none 0px;
}/*#headermicroej_DIV_2*/

#headermicroej_BUTTON_3 {
  color: rgb(74, 75, 79);
  cursor: pointer;
  display: none;
  float: right;
  position: relative;
  right: 25px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  column-rule-color: rgb(74, 75, 79);
  caret-color: rgb(74, 75, 79);
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  margin: 20px 15px 8px 0px;
  outline: rgb(74, 75, 79) none 0px;
  padding: 9px 10px;
}/*#headermicroej_BUTTON_3*/

#headermicroej_SPAN_4 {
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  cursor: pointer;
  display: block;
  height: 2px;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  width: 25px;
  column-rule-color: rgb(74, 75, 79);
  caret-color: rgb(74, 75, 79);
  background: rgb(247, 98, 65) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(74, 75, 79);
  font: 18px / 18px icomoon;
  outline: rgb(74, 75, 79) none 0px;
}/*#headermicroej_SPAN_4*/

#headermicroej_SPAN_5, #headermicroej_SPAN_6 {
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  cursor: pointer;
  display: block;
  height: 2px;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  width: 25px;
  column-rule-color: rgb(74, 75, 79);
  caret-color: rgb(74, 75, 79);
  background: rgb(247, 98, 65) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(74, 75, 79);
  font: 18px / 18px icomoon;
  margin: 6px 0px 0px;
  outline: rgb(74, 75, 79) none 0px;
}/*#headermicroej_SPAN_5, #headermicroej_SPAN_6*/

#headermicroej_A_7 {
  background-position: 50% 50%;
  bottom: 1px;
  box-sizing: border-box;
  color: rgb(51, 122, 183);
  display: block;
  height: 71px;
  left: 0px;
  position: absolute;
  right: 1403px;
  text-decoration: none solid rgb(51, 122, 183);
  text-size-adjust: 100%;
  top: 0px;
  width: 500px;
  z-index: 9998;
  column-rule-color: rgb(51, 122, 183);
  perspective-origin: 250px 35.5px;
  transform-origin: 250px 35.5px;
  caret-color: rgb(51, 122, 183);
  background: rgba(0, 0, 0, 0) url("https://newdev2020.microej.com/wp-content/themes/wordpress-bootstrap-master/css/bg/bg_logo.png") no-repeat scroll 50% 50% / cover padding-box border-box;
  border: 0px none rgb(51, 122, 183);
  font: 300 18px / 20px "Source Sans Pro", sans-serif;
  outline: rgb(51, 122, 183) none 0px;
  padding: 15px 50px 15px 100px;
}/*#headermicroej_A_7*/

#headermicroej_IMG_8 {
  box-sizing: border-box;
  color: rgb(51, 122, 183);
  cursor: pointer;
  display: inline-block;
  height: 41px;
  max-height: 50px;
  text-decoration: none solid rgb(51, 122, 183);
  text-size-adjust: 100%;
  vertical-align: middle;
  width: 306px;
  column-rule-color: rgb(51, 122, 183);
  perspective-origin: 153px 20.5px;
  transform-origin: 153px 20.5px;
  caret-color: rgb(51, 122, 183);
  border: 0px none rgb(51, 122, 183);
  font: 300 18px / 20px "Source Sans Pro", sans-serif;
  margin: 0px 5px 0px 0px;
  outline: rgb(51, 122, 183) none 0px;
  transition: all 0.2s ease 0s;
}/*#headermicroej_IMG_8*/

#headermicroej_DIV_9 {
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  height: 72px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  width: 100%;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 951.5px 36px;
  transform-origin: 951.5px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  outline: rgb(74, 75, 79) none 0px;
  padding: 0px 15px;
}/*#headermicroej_DIV_9*/

#headermicroej_DIV_10 {
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  height: 72px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  width: 100%;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 951.5px 36px;
  transform-origin: 951.5px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  margin: 0px -15px;
  outline: rgb(74, 75, 79) none 0px;
}/*#headermicroej_DIV_10*/


#headermicroej_DIV_11 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  float: left;
  height: 72px;
  left: 0px;
  min-height: 1px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  top: 0px;
  width: 100%;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 951.5px 36px;
  transform-origin: 951.5px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  outline: rgb(74, 75, 79) none 0px;
  padding: 0px 15px;
}/*#headermicroej_DIV_11*/

#headermicroej_DIV_12 {
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  float: right;
  height: 72px;
  max-height: 340px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  width: 426.766px;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 213.375px 36px;
  transform-origin: 213.383px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  margin: 0px 160px 0px 0px;
  outline: rgb(74, 75, 79) none 0px;
  padding: 0px 15px;
}/*#headermicroej_DIV_12*/

#headermicroej_UL_13 {
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  float: left;
  height: 72px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  width: 396.766px;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 198.375px 36px;
  transform-origin: 198.383px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  margin: 0px;
  outline: rgb(74, 75, 79) none 0px;
  padding: 0px 15px 0px 0px;
}/*#headermicroej_UL_13*/

#headermicroej_LI_14 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  display: block;
  float: left;
  height: 72px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  top: 0px;
  width: 135.094px;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 67.5469px 36px;
  transform-origin: 67.5469px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  margin: 0px 20px 0px 0px;
  outline: rgb(74, 75, 79) none 0px;
  padding: 10px;
}/*#headermicroej_LI_14*/

#headermicroej_A_15 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(44, 56, 66);
  display: block;
  height: 52px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(44, 56, 66);
  text-size-adjust: 100%;
  text-transform: uppercase;
  top: 0px;
  width: 116.094px;
  column-rule-color: rgb(44, 56, 66);
  perspective-origin: 57.5469px 26px;
  transform-origin: 57.5469px 26px;
  caret-color: rgb(44, 56, 66);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(44, 56, 66);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-left: 0px none rgb(44, 56, 66);
  font: 14px / 20px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  outline: rgb(44, 56, 66) none 0px;
  padding: 15px 0px;
}/*#headermicroej_A_15*/

#headermicroej_LI_16 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  display: block;
  float: left;
  height: 72px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  top: 0px;
  width: 80.5px;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 40.25px 36px;
  transform-origin: 40.25px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  margin: 0px 20px 0px 0px;
  outline: rgb(74, 75, 79) none 0px;
  padding: 10px;
}/*#headermicroej_LI_16*/

#headermicroej_A_17 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(44, 56, 66);
  display: block;
  height: 52px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(44, 56, 66);
  text-size-adjust: 100%;
  text-transform: uppercase;
  top: 0px;
  width: 60.5px;
  column-rule-color: rgb(44, 56, 66);
  perspective-origin: 30.25px 26px;
  transform-origin: 30.25px 26px;
  caret-color: rgb(44, 56, 66);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(44, 56, 66);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-left: 0px none rgb(44, 56, 66);
  font: 14px / 20px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  outline: rgb(44, 56, 66) none 0px;
  padding: 15px 0px;
}/*#headermicroej_A_17*/

#headermicroej_LI_18 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  display: block;
  float: left;
  height: 72px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  top: 0px;
  width: 41.9688px;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 20.9844px 36px;
  transform-origin: 20.9844px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  margin: 0px 20px 0px 0px;
  outline: rgb(74, 75, 79) none 0px;
  padding: 10px;
}/*#headermicroej_LI_18*/

#headermicroej_A_19 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(44, 56, 66);
  display: block;
  height: 52px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(44, 56, 66);
  text-size-adjust: 100%;
  text-transform: uppercase;
  top: 0px;
  width: 21.9688px;
  column-rule-color: rgb(44, 56, 66);
  perspective-origin: 10.9844px 26px;
  transform-origin: 10.9844px 26px;
  caret-color: rgb(44, 56, 66);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(44, 56, 66);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-left: 0px none rgb(44, 56, 66);
  font: 14px / 20px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  outline: rgb(44, 56, 66) none 0px;
  padding: 15px 0px;
}/*#headermicroej_A_19*/

#headermicroej_LI_20 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(74, 75, 79);
  display: block;
  float: left;
  height: 72px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(74, 75, 79);
  text-size-adjust: 100%;
  top: 0px;
  width: 44.2031px;
  column-rule-color: rgb(74, 75, 79);
  perspective-origin: 22.0938px 36px;
  transform-origin: 22.1016px 36px;
  caret-color: rgb(74, 75, 79);
  border: 0px none rgb(74, 75, 79);
  font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  margin: 0px 20px 0px 0px;
  outline: rgb(74, 75, 79) none 0px;
  padding: 10px;
}/*#headermicroej_LI_20*/

#headermicroej_A_21 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(44, 56, 66);
  display: block;
  height: 52px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(44, 56, 66);
  text-size-adjust: 100%;
  text-transform: uppercase;
  top: 0px;
  width: 24.2031px;
  column-rule-color: rgb(44, 56, 66);
  perspective-origin: 12.0938px 26px;
  transform-origin: 12.1016px 26px;
  caret-color: rgb(44, 56, 66);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(44, 56, 66);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-left: 0px none rgb(44, 56, 66);
  font: 14px / 20px "Source Sans Pro", sans-serif;
  list-style: outside none none;
  outline: rgb(44, 56, 66) none 0px;
  padding: 15px 0px;
}/*#headermicroej_A_21*/

#headermicroej_A_22 {
  bottom: 17px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 40px;
  position: absolute;
  right: 15px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  text-transform: uppercase;
  top: 15px;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 149.344px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 74.6719px 20px;
  transform-origin: 74.6719px 20px;
  user-select: none;
  caret-color: rgb(255, 255, 255);
  background: rgb(247, 98, 65) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(255, 255, 255);
  border-radius: 20px;
  font: 14px / 20px "Source Sans Pro", sans-serif;
  margin: 0px 20px 0px 0px;
  outline: rgb(255, 255, 255) none 0px;
  padding: 10px 35px;
  transition: all 0.2s ease 0s;
}/*#headermicroej_A_22*/

#headermicroej_A_15, #headermicroej_A_17, #headermicroej_A_19, #headermicroej_A_21 {
  font: 14px / 20px "Source Sans Pro Light", sans-serif;
}

#headermicroej_A_15:hover, #headermicroej_A_17:hover, #headermicroej_A_19:hover, #headermicroej_A_21:hover {
color: #f76241;
border-top: 1px solid #f76241;
}

#headermicroej_A_22:hover{
color: #333;
text-decoration: none;
}

#toolxboxmicroejUL_1 {
bottom: 242px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
box-sizing: border-box;
color: rgb(74, 75, 79);
height: 188px;
position: fixed;
right: 0px;
text-align: center;
text-decoration: none solid rgb(74, 75, 79);
text-size-adjust: 100%;
top: 124px;
width: 66px;
z-index: 9999;
column-rule-color: rgb(74, 75, 79);
perspective-origin: 33px 94px;
transform-origin: 33px 94px;
caret-color: rgb(74, 75, 79);
background: rgb(38, 42, 44) none repeat scroll 0% 0% / auto padding-box border-box;
border: 0px none rgb(74, 75, 79);
border-radius: 7px 0px 0px 7px;
font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
list-style: outside none none;
margin: 0px 0px 10px;
outline: rgb(74, 75, 79) none 0px;
padding: 0px;
}/*#toolxboxmicroejUL_1*/

#toolxboxmicroejLI_2, #toolxboxmicroejLI_5 {
box-sizing: border-box;
color: rgb(74, 75, 79);
height: 63px;
text-align: center;
text-decoration: none solid rgb(74, 75, 79);
text-size-adjust: 100%;
width: 66px;
column-rule-color: rgb(74, 75, 79);
perspective-origin: 33px 31.5px;
transform-origin: 33px 31.5px;
caret-color: rgb(74, 75, 79);
border: 0px none rgb(74, 75, 79);
font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
list-style: outside none none;
outline: rgb(74, 75, 79) none 0px;
}/*#toolxboxmicroejLI_2, #toolxboxmicroejLI_5*/

#toolxboxmicroejA_3, #toolxboxmicroejA_6 {
box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
height: 63px;
text-align: center;
text-decoration: none solid rgb(255, 255, 255);
text-size-adjust: 100%;
width: 66px;
column-rule-color: rgb(255, 255, 255);
perspective-origin: 33px 31.5px;
transform-origin: 33px 31.5px;
caret-color: rgb(255, 255, 255);
border-top: 0px none rgb(255, 255, 255);
border-right: 0px none rgb(255, 255, 255);
border-bottom: 1px solid rgba(85, 86, 91, 0.7);
border-left: 0px none rgb(255, 255, 255);
font: 12px / 17.1429px "Source Sans Pro", sans-serif;
list-style: outside none none;
outline: rgb(255, 255, 255) none 0px;
padding: 10px 5px;
transition: all 0.2s ease 0s;
}/*#toolxboxmicroejA_3, #toolxboxmicroejA_6*/

#toolxboxmicroejI_4 {
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
height: 20px;
speak: none;
text-align: center;
text-decoration: none solid rgb(255, 255, 255);
text-size-adjust: 100%;
width: 56px;
column-rule-color: rgb(255, 255, 255);
perspective-origin: 28px 10px;
transform-origin: 28px 10px;
caret-color: rgb(255, 255, 255);
border: 0px none rgb(255, 255, 255);
font: 20px / 20px icomoon;
list-style: outside none none;
margin: 0px 0px 5px;
outline: rgb(255, 255, 255) none 0px;
}/*#toolxboxmicroejI_4*/

#toolxboxmicroejI_7 {
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
height: 20px;
speak: none;
text-align: center;
text-decoration: none solid rgb(255, 255, 255);
text-size-adjust: 100%;
width: 56px;
column-rule-color: rgb(255, 255, 255);
perspective-origin: 28px 10px;
transform-origin: 28px 10px;
caret-color: rgb(255, 255, 255);
border: 0px none rgb(255, 255, 255);
font: 20px / 20px icomoon;
list-style: outside none none;
margin: 0px 0px 5px;
outline: rgb(255, 255, 255) none 0px;
}/*#toolxboxmicroejI_7*/

#toolxboxmicroejLI_8 {
box-sizing: border-box;
color: rgb(74, 75, 79);
height: 62px;
text-align: center;
text-decoration: none solid rgb(74, 75, 79);
text-size-adjust: 100%;
width: 66px;
column-rule-color: rgb(74, 75, 79);
perspective-origin: 33px 31px;
transform-origin: 33px 31px;
caret-color: rgb(74, 75, 79);
border: 0px none rgb(74, 75, 79);
font: 300 18px / 25.7143px "Source Sans Pro", sans-serif;
list-style: outside none none;
outline: rgb(74, 75, 79) none 0px;
}/*#toolxboxmicroejLI_8*/

#toolxboxmicroejA_9 {
box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
height: 62px;
text-align: center;
text-decoration: none solid rgb(255, 255, 255);
text-size-adjust: 100%;
width: 66px;
column-rule-color: rgb(255, 255, 255);
perspective-origin: 33px 31px;
transform-origin: 33px 31px;
caret-color: rgb(255, 255, 255);
border: 0px none rgb(255, 255, 255);
font: 12px / 17.1429px "Source Sans Pro", sans-serif;
list-style: outside none none;
outline: rgb(255, 255, 255) none 0px;
padding: 10px 5px;
transition: all 0.2s ease 0s;
}/*#toolxboxmicroejA_9*/

#toolxboxmicroejI_10 {
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
height: 20px;
speak: none;
text-align: center;
text-decoration: none solid rgb(255, 255, 255);
text-size-adjust: 100%;
width: 56px;
column-rule-color: rgb(255, 255, 255);
perspective-origin: 28px 10px;
transform-origin: 28px 10px;
caret-color: rgb(255, 255, 255);
border: 0px none rgb(255, 255, 255);
font: 20px / 20px icomoon;
list-style: outside none none;
margin: 0px 0px 5px;
outline: rgb(255, 255, 255) none 0px;
}/*#toolxboxmicroejI_10*/

#toolxboxmicroejA_3:hover, #toolxboxmicroejA_6:hover, #toolxboxmicroejA_9:hover{
background:#f76241;
text-decoration: none;
border-radius: 7px 0 0 7px;
}

.toolboxmicroj_icon{
padding-bottom: 7px;
}

/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}

.wy-breadcrumbs li {
  font-size: 12px;
  color: #ee502e;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.wy-breadcrumbs li a:first-child {
  color: #97a7af;
}
